In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.util import clr

In [2]:
microbes = pd.read_csv('./data/microbes.tsv', sep='\t', index_col=0)
metabolites = pd.read_csv('./data/metabolites.tsv', sep='\t', index_col=0)

In [3]:
microbes_scaled = microbes/microbes.values.mean()
metabolites_scaled = metabolites/metabolites.values.mean()

In [4]:
print(np.log(np.nextafter(0, 1)))

-744.4400719213812

In [5]:
# replace zero's with smallest non-zero value in data
print(microbes.values[microbes.values != 0].min())
print(metabolites.values[metabolites.values != 0].min())
print(microbes_scaled.values[microbes_scaled.values != 0].min())
print(metabolites_scaled.values[metabolites_scaled.values != 0].min())

microbes_min = microbes.replace(0, microbes.values[microbes.values != 0].min())
metabolites_min = metabolites.replace(0, metabolites.values[metabolites.values != 0].min())
microbes_sc_min = microbes_scaled.replace(0, microbes_scaled.values[microbes_scaled.values != 0].min())
metabolites_sc_min = metabolites_scaled.replace(0, metabolites_scaled.values[metabolites_scaled.values != 0].min())

# replace all zero's with epsilon value
microbes.replace(0, np.nextafter(0, 1), inplace=True)
metabolites.replace(0, np.nextafter(0, 1), inplace=True)
microbes_scaled.replace(0, np.nextafter(0, 1), inplace=True)
metabolites_scaled.replace(0, np.nextafter(0, 1), inplace=True)

1.0
260.854428285319
0.07895349028472602
0.00018045288601268087

In [6]:
concat = pd.concat([microbes, metabolites])
concat_scaled = pd.concat([microbes_scaled, metabolites_scaled])
concat_min = pd.concat([microbes_min, metabolites_min])
concat_sc_min = pd.concat([microbes_sc_min, metabolites_sc_min])

In [7]:
pd.concat([np.log(concat).mean(axis=0), np.log(concat_scaled).mean(axis=0)], axis=1)

                      0           1
sample_378  -217.104680 -223.118800
sample_379  -222.600938 -228.596594
sample_380  -219.124003 -225.131198
sample_381  -213.708727 -219.734387
sample_382  -227.323029 -233.302528
...                 ...         ...
sample_2389  -62.166113  -71.875491
sample_2390  -75.739123  -85.402339
sample_2391  -84.568195  -94.201406
sample_2392  -79.817165  -89.466533
sample_2393  -81.138295  -90.783046

[1260 rows x 2 columns]

In [8]:
clr_df = np.log(concat) - np.log(concat).mean(axis=0)
print(clr_df.values.mean())
clr_scaled_df = np.log(concat_scaled) - np.log(concat_scaled).mean(axis=0)
print(clr_scaled_df.values.mean())
clr_min_df = np.log(concat_min) - np.log(concat_min).mean(axis=0)
print(clr_min_df.values.mean())
clr_sc_min_df = np.log(concat_sc_min) - np.log(concat_sc_min).mean(axis=0)
print(clr_sc_min_df.values.mean())

-1.548634557131393e-15
-3.4437432863667587e-15
-7.54631246059789e-18
-5.3316338036832914e-18

In [9]:
clr_microbes = clr_df.loc[microbes.index]
clr_metabolites = clr_df.loc[metabolites.index]
clr_scaled_microbes = clr_scaled_df.loc[microbes.index]
clr_scaled_metabolites = clr_scaled_df.loc[metabolites.index]
clr_min_microbes = clr_min_df.loc[microbes.index]
clr_min_metabolites = clr_min_df.loc[metabolites.index]
clr_sc_min_microbes = clr_sc_min_df.loc[microbes_sc_min.index]
clr_sc_min_metabolites = clr_sc_min_df.loc[metabolites_sc_min.index]

In [10]:
clr_sc_min_metabolites.head()

,sample_378,sample_379,sample_380,sample_381,sample_382,sample_383,sample_384,sample_385,sample_386,sample_387,...,sample_2384,sample_2385,sample_2386,sample_2387,sample_2388,sample_2389,sample_2390,sample_2391,sample_2392,sample_2393
OTU_ID,,,,,,,,,,,,,,,,,,,,,
P_0,-5.738644,-5.656495,-5.749613,-5.750779,-5.67175,-5.586892,-5.827312,-5.744923,-5.722413,-5.705749,...,4.771955,4.391388,4.125676,4.022254,3.647444,4.418592,3.392102,4.219082,4.077033,4.666201
P_1,-5.738644,-5.656495,-5.749613,-5.750779,-5.67175,-5.586892,-5.827312,-5.744923,-5.722413,-5.705749,...,2.345133,2.498878,2.476391,2.453319,2.814403,2.536033,2.688803,2.846178,2.792072,2.778565
P_2,-5.738644,-5.656495,-5.749613,-5.750779,-5.67175,-5.586892,-5.827312,-5.744923,-5.722413,-5.705749,...,4.111375,3.777921,3.548676,3.799960,3.161177,3.552926,3.230248,3.740311,3.421618,3.980912
P_3,-5.738644,-5.656495,-5.749613,-5.750779,-5.67175,-5.586892,-5.827312,-5.744923,-5.722413,-5.705749,...,2.626035,2.246075,2.351298,2.219480,2.658900,2.695550,2.490566,2.875118,2.675444,2.680967
P_4,-5.738644,-5.656495,-5.749613,-5.750779,-5.67175,-5.586892,-5.827312,-5.744923,-5.722413,-5.705749,...,1.829409,2.087035,2.129367,2.118065,2.272315,2.270642,2.064960,2.358181,2.187545,2.233788

In [11]:
clr_microbes.to_csv('./data/clr_microbes.tsv', sep='\t', index=True)
clr_metabolites.to_csv('./data/clr_metabolites.tsv', sep='\t', index=True)
clr_scaled_microbes.to_csv('./data/clr_microbes_sc.tsv', sep='\t', index=True)
clr_scaled_metabolites.to_csv('./data/clr_metabolites_sc.tsv', sep='\t', index=True)
clr_min_microbes.to_csv('./data/clr_microbes_min.tsv', sep='\t', index=True)
clr_min_metabolites.to_csv('./data/clr_metabolites_min.tsv', sep='\t', index=True)
clr_sc_min_microbes.to_csv('./data/clr_microbes_sc_min.tsv', sep='\t', index=True)
clr_sc_min_metabolites.to_csv('./data/clr_metabolites_sc_min.tsv', sep='\t', index=True)

## Applying clr on microbes and metabolites separately
(like formula B in Quinn & Erb reply)

In [12]:
# clr on microbes and metabolites separately
clr_sep_microbes = np.log(microbes) - np.log(microbes).mean(axis=0)
clr_sep_metabolites = np.log(metabolites) - np.log(metabolites).mean(axis=0)
clr_sep_microbes_min = np.log(microbes_min) - np.log(microbes_min).mean(axis=0)
clr_sep_metabolites_min = np.log(metabolites_min) - np.log(metabolites_min).mean(axis=0)

In [13]:
clr_sep_microbes_min.describe()

,sample_378,sample_379,sample_380,sample_381,sample_382,sample_383,sample_384,sample_385,sample_386,sample_387,...,sample_2384,sample_2385,sample_2386,sample_2387,sample_2388,sample_2389,sample_2390,sample_2391,sample_2392,sample_2393
count,4.000000e+02,4.000000e+02,4.000000e+02,400.000000,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,...,4.000000e+02,4.000000e+02,400.000000,4.000000e+02,400.000000,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,400.000000
mean,7.105427e-17,2.486900e-16,-2.486900e-16,0.000000,1.776357e-16,-3.552714e-17,1.776357e-16,7.105427e-17,-2.486900e-16,2.486900e-16,...,-7.105427e-17,1.421085e-16,0.000000,2.131628e-16,0.000000,2.842171e-16,-1.421085e-16,2.131628e-16,1.421085e-16,0.000000
std,1.171404e+00,1.165502e+00,1.234052e+00,1.238656,1.234452e+00,1.233203e+00,1.277099e+00,1.224009e+00,1.233663e+00,1.199301e+00,...,1.396453e+00,1.350612e+00,1.420192,1.356707e+00,1.329314,1.530372e+00,1.309580e+00,1.443554e+00,1.384903e+00,1.366780
min,-1.828775e+00,-1.579983e+00,-1.775275e+00,-1.684697,-1.670153e+00,-1.528868e+00,-1.805176e+00,-1.801512e+00,-1.739509e+00,-1.730550e+00,...,-1.180545e+00,-1.200953e+00,-1.156106,-1.185058e+00,-0.983780,-1.287057e+00,-1.023925e+00,-1.038583e+00,-1.051549e+00,-1.021715
25%,-8.315287e-01,-8.868363e-01,-1.082127e+00,-0.991550,-9.770063e-01,-1.528868e+00,-1.112029e+00,-1.108365e+00,-1.046362e+00,-1.037403e+00,...,-1.180545e+00,-1.200953e+00,-1.156106,-1.185058e+00,-0.983780,-1.287057e+00,-1.023925e+00,-1.038583e+00,-1.051549e+00,-1.021715
50%,-3.701522e-02,2.945443e-02,1.648479e-02,-0.075259,-6.071556e-02,8.057021e-02,-1.341661e-02,-9.752848e-03,5.225056e-02,-2.995162e-02,...,-4.873975e-01,-5.078061e-01,-0.462959,-4.919109e-01,-0.983780,-5.939103e-01,-3.307779e-01,-1.038583e+00,-3.584014e-01,-0.328568
75%,7.547017e-01,8.396646e-01,8.637827e-01,0.820220,8.147532e-01,8.690276e-01,8.511295e-01,9.065379e-01,8.254404e-01,7.543563e-01,...,7.653655e-01,7.449569e-01,0.923336,7.608521e-01,0.807979,9.101671e-01,8.063720e-01,1.040858e+00,7.402109e-01,0.587723
max,4.468335e+00,4.396367e+00,3.604623e+00,3.618608,3.587342e+00,4.387334e+00,3.864705e+00,3.380271e+00,4.141024e+00,5.335063e+00,...,5.615161e+00,5.390720e+00,4.738297,4.963410e+00,6.011986,4.538943e+00,6.445729e+00,4.203164e+00,4.780334e+00,5.080844

In [14]:
clr_sep_metabolites.describe()

,sample_378,sample_379,sample_380,sample_381,sample_382,sample_383,sample_384,sample_385,sample_386,sample_387,...,sample_2384,sample_2385,sample_2386,sample_2387,sample_2388,sample_2389,sample_2390,sample_2391,sample_2392,sample_2393
count,7.000000e+02,7.000000e+02,700.000000,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,700.000000,7.000000e+02,7.000000e+02,...,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02
mean,-2.078845e-14,-1.039423e-14,0.000000,-6.236535e-14,-7.275958e-14,-8.315380e-14,-2.078845e-14,0.000000,-2.078845e-14,-2.078845e-14,...,2.111327e-15,-3.004581e-15,-1.948917e-15,-1.380483e-15,9.744586e-16,-3.248195e-16,-8.120488e-16,-8.120488e-16,1.461688e-15,-2.436147e-16
std,3.753218e+02,3.753331e+02,375.363229,3.754095e+02,3.753091e+02,3.752635e+02,3.754543e+02,375.343668,3.753438e+02,3.753255e+02,...,2.210398e+00,2.246437e+00,2.185177e+00,2.233114e+00,2.215700e+00,2.203839e+00,2.152058e+00,2.249556e+00,2.202335e+00,2.216817e+00
min,-4.330716e+02,-4.330847e+02,-433.119457,-4.331730e+02,-4.330572e+02,-4.330046e+02,-4.332245e+02,-433.097095,-4.330972e+02,-4.330761e+02,...,-5.230500e+00,-5.059887e+00,-4.931515e+00,-4.904287e+00,-4.945062e+00,-4.890770e+00,-5.398332e+00,-4.985718e+00,-4.969062e+00,-4.749278e+00
25%,-4.330716e+02,-4.330847e+02,-433.119457,-4.331730e+02,-4.330572e+02,-4.330046e+02,-4.332245e+02,-433.097095,-4.330972e+02,-4.330761e+02,...,-1.943677e+00,-2.018646e+00,-2.043726e+00,-2.024765e+00,-1.934866e+00,-2.000861e+00,-1.974576e+00,-1.952364e+00,-2.002483e+00,-2.034152e+00
50%,3.224367e+02,3.224673e+02,322.485094,3.227046e+02,3.226240e+02,3.225185e+02,3.226108e+02,322.518627,3.226267e+02,3.224401e+02,...,1.339766e-01,1.131289e-01,1.038096e-01,1.160439e-01,-3.888842e-02,3.948123e-02,9.582836e-02,1.490711e-01,8.700082e-02,5.681862e-02
75%,3.257780e+02,3.257870e+02,325.860722,3.257714e+02,3.257128e+02,3.256026e+02,3.258639e+02,325.702724,3.257391e+02,3.256788e+02,...,2.019352e+00,2.143096e+00,2.070319e+00,2.142783e+00,2.181939e+00,2.113982e+00,2.062075e+00,2.059808e+00,2.071252e+00,2.174023e+00
max,3.292327e+02,3.287023e+02,328.605869,3.288109e+02,3.289945e+02,3.297262e+02,3.289187e+02,328.689725,3.293298e+02,3.287456e+02,...,5.996603e+00,6.052052e+00,5.677725e+00,6.541772e+00,6.066621e+00,5.945890e+00,7.031226e+00,5.570284e+00,5.950899e+00,5.675077e+00

In [15]:
clr_sep_microbes.to_csv('./data/clr_sep_microbes.tsv', sep='\t', index=True)
clr_sep_metabolites.to_csv('./data/clr_sep_metabolites.tsv', sep='\t', index=True)
clr_sep_microbes_min.to_csv('./data/clr_sep_microbes_min.tsv', sep='\t', index=True)
clr_sep_metabolites_min.to_csv('./data/clr_sep_metabolites_min.tsv', sep='\t', index=True)

### Just trying out some clr for example data

In [109]:
x = pd.Series([2, 3, 1, 4, 0.00000001])
y = pd.Series([5000, 2000, 3000, 4000, 0.00000001])

In [110]:
y

0    5.000000e+03
1    2.000000e+03
2    3.000000e+03
3    4.000000e+03
4    1.000000e-08
dtype: float64

In [111]:
z = pd.DataFrame({'og': pd.concat([x, y], axis=0)})
z

             og
0  2.000000e+00
1  3.000000e+00
2  1.000000e+00
3  4.000000e+00
4  1.000000e-08
0  5.000000e+03
1  2.000000e+03
2  3.000000e+03
3  4.000000e+03
4  1.000000e-08

In [112]:
z['log(og)'] = np.log(z['og'])
z

             og    log(og)
0  2.000000e+00   0.693147
1  3.000000e+00   1.098612
2  1.000000e+00   0.000000
3  4.000000e+00   1.386294
4  1.000000e-08 -18.420681
0  5.000000e+03   8.517193
1  2.000000e+03   7.600902
2  3.000000e+03   8.006368
3  4.000000e+03   8.294050
4  1.000000e-08 -18.420681

In [113]:
print(z['og'].mean())
print(z['log(og)'].mean())

1401.0000000020002
-0.12447947988461934

In [114]:
z['clr(og)'] = np.log(z['og']) - np.log(z['og'].mean())
z

             og    log(og)    clr(og)
0  2.000000e+00   0.693147  -6.551794
1  3.000000e+00   1.098612  -6.146329
2  1.000000e+00   0.000000  -7.244942
3  4.000000e+00   1.386294  -5.858647
4  1.000000e-08 -18.420681 -25.665622
0  5.000000e+03   8.517193   1.272252
1  2.000000e+03   7.600902   0.355961
2  3.000000e+03   8.006368   0.761426
3  4.000000e+03   8.294050   1.049108
4  1.000000e-08 -18.420681 -25.665622

In [115]:
z['sc'] = pd.concat([x/x.mean(), y/y.mean()], axis=0)
z

             og    log(og)    clr(og)            sc
0  2.000000e+00   0.693147  -6.551794  1.000000e+00
1  3.000000e+00   1.098612  -6.146329  1.500000e+00
2  1.000000e+00   0.000000  -7.244942  5.000000e-01
3  4.000000e+00   1.386294  -5.858647  2.000000e+00
4  1.000000e-08 -18.420681 -25.665622  5.000000e-09
0  5.000000e+03   8.517193   1.272252  1.785714e+00
1  2.000000e+03   7.600902   0.355961  7.142857e-01
2  3.000000e+03   8.006368   0.761426  1.071429e+00
3  4.000000e+03   8.294050   1.049108  1.428571e+00
4  1.000000e-08 -18.420681 -25.665622  3.571429e-12

In [116]:
z['log(sc)'] = np.log(z['sc'])
z

             og    log(og)    clr(og)            sc       log(sc)
0  2.000000e+00   0.693147  -6.551794  1.000000e+00 -1.000000e-09
1  3.000000e+00   1.098612  -6.146329  1.500000e+00  4.054651e-01
2  1.000000e+00   0.000000  -7.244942  5.000000e-01 -6.931472e-01
3  4.000000e+00   1.386294  -5.858647  2.000000e+00  6.931472e-01
4  1.000000e-08 -18.420681 -25.665622  5.000000e-09 -1.911383e+01
0  5.000000e+03   8.517193   1.272252  1.785714e+00  5.798185e-01
1  2.000000e+03   7.600902   0.355961  7.142857e-01 -3.364722e-01
2  3.000000e+03   8.006368   0.761426  1.071429e+00  6.899287e-02
3  4.000000e+03   8.294050   1.049108  1.428571e+00  3.566749e-01
4  1.000000e-08 -18.420681 -25.665622  3.571429e-12 -2.635806e+01

In [117]:
print(z['sc'].mean())
print(z['log(sc)'].mean())

1.0
-4.439740418746597

In [118]:
z['clr(sc)'] = z['log(sc)'] - z['log(sc)'].mean()
z

             og    log(og)    clr(og)            sc       log(sc)    clr(sc)
0  2.000000e+00   0.693147  -6.551794  1.000000e+00 -1.000000e-09   4.439740
1  3.000000e+00   1.098612  -6.146329  1.500000e+00  4.054651e-01   4.845206
2  1.000000e+00   0.000000  -7.244942  5.000000e-01 -6.931472e-01   3.746593
3  4.000000e+00   1.386294  -5.858647  2.000000e+00  6.931472e-01   5.132888
4  1.000000e-08 -18.420681 -25.665622  5.000000e-09 -1.911383e+01 -14.674088
0  5.000000e+03   8.517193   1.272252  1.785714e+00  5.798185e-01   5.019559
1  2.000000e+03   7.600902   0.355961  7.142857e-01 -3.364722e-01   4.103268
2  3.000000e+03   8.006368   0.761426  1.071429e+00  6.899287e-02   4.508733
3  4.000000e+03   8.294050   1.049108  1.428571e+00  3.566749e-01   4.796415
4  1.000000e-08 -18.420681 -25.665622  3.571429e-12 -2.635806e+01 -21.918315