In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.util import clr

In [2]:
microbes = pd.read_csv('./data/microbes.tsv', sep='\t', index_col=0)
metabolites = pd.read_csv('./data/metabolites.tsv', sep='\t', index_col=0)

In [3]:
microbes_scaled = microbes/microbes.values.mean()
metabolites_scaled = metabolites/metabolites.values.mean()

In [4]:
print(np.log(np.nextafter(0, 1)))

-744.4400719213812

In [5]:
# replace zero's with smallest non-zero value in data
print(microbes.values[microbes.values != 0].min())
print(metabolites.values[metabolites.values != 0].min())
print(microbes_scaled.values[microbes_scaled.values != 0].min())
print(metabolites_scaled.values[metabolites_scaled.values != 0].min())

microbes_min = microbes.replace(0, microbes.values[microbes.values != 0].min())
metabolites_min = metabolites.replace(0, metabolites.values[metabolites.values != 0].min())
microbes_sc_min = microbes_scaled.replace(0, microbes_scaled.values[microbes_scaled.values != 0].min())
metabolites_sc_min = metabolites_scaled.replace(0, metabolites_scaled.values[metabolites_scaled.values != 0].min())

# replace all zero's with epsilon value
microbes.replace(0, np.nextafter(0, 1), inplace=True)
metabolites.replace(0, np.nextafter(0, 1), inplace=True)
microbes_scaled.replace(0, np.nextafter(0, 1), inplace=True)
metabolites_scaled.replace(0, np.nextafter(0, 1), inplace=True)

1.0
155.86444084375808
0.07943659281322644
0.00010789636962151171

In [21]:
concat = pd.concat([microbes, metabolites])
concat_scaled = pd.concat([microbes_scaled, metabolites_scaled])
concat_min = pd.concat([microbes_min, metabolites_min])
concat_sc_min = pd.concat([microbes_sc_min, metabolites_sc_min])

In [22]:
pd.concat([np.log(concat).mean(axis=0), np.log(concat_scaled).mean(axis=0)], axis=1)

                      0           1
sample_341   -34.046886  -43.850898
sample_1499 -217.122122 -223.133938
sample_335   -35.336622  -45.136029
sample_2132  -66.976280  -76.667467
sample_2474  -13.362906  -23.233692
...                 ...         ...
sample_187   -29.964092  -39.781919
sample_2021  -27.010777  -36.837814
sample_1440 -216.379236 -222.393355
sample_2100  -24.958368  -34.792313
sample_2020  -18.058275  -27.915245

[1260 rows x 2 columns]

In [23]:
clr_df = np.log(concat) - np.log(concat).mean(axis=0)
print(clr_df.values.mean())
clr_scaled_df = np.log(concat_scaled) - np.log(concat_scaled).mean(axis=0)
print(clr_scaled_df.values.mean())
clr_min_df = np.log(concat_min) - np.log(concat_min).mean(axis=0)
print(clr_min_df.values.mean())
clr_sc_min_df = np.log(concat_sc_min) - np.log(concat_sc_min).mean(axis=0)
print(clr_sc_min_df.values.mean())

-2.133965923640377e-15
-2.256019325177004e-15
2.7232344966505426e-17
-2.6658169018416457e-18

In [24]:
clr_microbes = clr_df.loc[microbes.index]
clr_metabolites = clr_df.loc[metabolites.index]
clr_scaled_microbes = clr_scaled_df.loc[microbes.index]
clr_scaled_metabolites = clr_scaled_df.loc[metabolites.index]
clr_min_microbes = clr_min_df.loc[microbes.index]
clr_min_metabolites = clr_min_df.loc[metabolites.index]
clr_sc_min_microbes = clr_sc_min_df.loc[microbes_sc_min.index]
clr_sc_min_metabolites = clr_sc_min_df.loc[metabolites_sc_min.index]

In [26]:
clr_sc_min_metabolites.head()

,sample_341,sample_1499,sample_335,sample_2132,sample_2474,sample_1086,sample_1915,sample_159,sample_653,sample_1437,...,sample_313,sample_1964,sample_1609,sample_1637,sample_1960,sample_187,sample_2021,sample_1440,sample_2100,sample_2020
#OTU ID,,,,,,,,,,,,,,,,,,,,,
P_0,4.174487,-6.097702,4.118696,4.061453,3.027011,3.846880,3.862503,3.438487,3.508724,-6.122028,...,4.719411,4.004307,4.141959,4.305835,3.909543,3.850813,4.500647,-6.163824,4.328745,4.274251
P_1,2.675394,-6.097702,2.896235,2.748682,1.882113,2.501784,2.525586,2.927466,2.503762,-6.122028,...,2.654128,2.944267,2.470534,3.151114,2.620031,2.871799,2.456388,-6.163824,2.763505,2.611292
P_2,3.723452,-6.097702,3.547803,3.548285,2.679375,3.324399,3.403445,2.999735,3.277850,-6.122028,...,3.823103,3.134984,3.561686,3.881297,3.713367,3.284473,3.746074,-6.163824,3.770026,3.698314
P_3,2.643421,-6.097702,2.694330,2.495215,1.628895,2.300756,2.289167,2.664028,2.327277,-6.122028,...,2.574066,2.552271,2.254665,2.641520,2.762010,2.278905,2.345359,-6.163824,2.651488,2.555763
P_4,2.085062,-6.097702,2.125336,1.968915,1.219726,1.907439,2.111527,2.180438,1.863107,-6.122028,...,2.073095,2.142750,1.842619,2.323270,2.088574,2.091643,1.911449,-6.163824,2.223696,2.093844

In [16]:
clr_microbes.to_csv('./data/clr_microbes.tsv', sep='\t', index=True)
clr_metabolites.to_csv('./data/clr_metabolites.tsv', sep='\t', index=True)
clr_scaled_microbes.to_csv('./data/clr_microbes_scaled.tsv', sep='\t', index=True)
clr_scaled_metabolites.to_csv('./data/clr_metabolites_scaled.tsv', sep='\t', index=True)
clr_min_microbes.to_csv('./data/clr_microbes_min.tsv', sep='\t', index=True)
clr_min_metabolites.to_csv('./data/clr_metabolites_min.tsv', sep='\t', index=True)
clr_sc_min_microbes.to_csv('./data/clr_sc_microbes_min.tsv', sep='\t', index=True)
clr_sc_min_metabolites.to_csv('./data/clr_sc_metabolites_min.tsv', sep='\t', index=True)

## Applying clr on microbes and metabolites separately
(like formula B in Quinn & Erb reply)

In [6]:
# clr on microbes and metabolites separately
clr_sep_microbes = np.log(microbes) - np.log(microbes).mean(axis=0)
clr_sep_metabolites = np.log(metabolites) - np.log(metabolites).mean(axis=0)
clr_sep_microbes_min = np.log(microbes_min) - np.log(microbes_min).mean(axis=0)
clr_sep_metabolites_min = np.log(metabolites_min) - np.log(metabolites_min).mean(axis=0)

In [7]:
clr_sep_microbes_min.describe()

,sample_341,sample_1499,sample_335,sample_2132,sample_2474,sample_1086,sample_1915,sample_159,sample_653,sample_1437,...,sample_313,sample_1964,sample_1609,sample_1637,sample_1960,sample_187,sample_2021,sample_1440,sample_2100,sample_2020
count,4.000000e+02,4.000000e+02,400.000000,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,...,4.000000e+02,4.000000e+02,4.000000e+02,400.000000,400.000000,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02
mean,1.421085e-16,3.552714e-17,0.000000,1.421085e-16,3.197442e-16,2.842171e-16,1.421085e-16,-1.421085e-16,-1.421085e-16,8.881784e-17,...,7.105427e-17,-7.105427e-17,-1.421085e-16,0.000000,0.000000,-7.105427e-17,-7.105427e-17,1.065814e-16,-3.552714e-16,-1.421085e-16
std,1.338469e+00,1.188339e+00,1.323008,1.433755e+00,1.252584e+00,1.321514e+00,1.325193e+00,1.353709e+00,1.275461e+00,1.230850e+00,...,1.319214e+00,1.319540e+00,1.306466e+00,1.417080,1.325439,1.278535e+00,1.334737e+00,1.250685e+00,1.310507e+00,1.356207e+00
min,-1.569052e+00,-1.708718e+00,-1.506417,-1.192782e+00,-1.680702e+00,-1.646247e+00,-1.559833e+00,-1.534076e+00,-1.587226e+00,-1.770830e+00,...,-1.537197e+00,-1.399491e+00,-1.382160e+00,-1.048390,-1.476304,-1.414422e+00,-1.545774e+00,-1.745064e+00,-1.525204e+00,-1.671734e+00
25%,-1.569052e+00,-1.015570e+00,-1.506417,-1.192782e+00,-9.875548e-01,-9.530995e-01,-1.559833e+00,-1.534076e+00,-8.940791e-01,-1.077683e+00,...,-1.537197e+00,-1.399491e+00,-1.382160e+00,-1.048390,-1.476304,-1.414422e+00,-1.545774e+00,-1.051917e+00,-1.525204e+00,-9.785865e-01
50%,-1.827574e-01,8.304187e-02,-0.120123,-4.996349e-01,-7.126406e-02,-2.599523e-01,-1.735383e-01,-1.477813e-01,-2.009320e-01,2.092902e-02,...,-1.509022e-01,-1.570375e-01,-2.835474e-01,-1.048390,-0.090010,-1.719691e-01,6.366370e-02,4.669504e-02,-1.389095e-01,-6.229575e-02
75%,1.087254e+00,7.761891e-01,0.891478,7.531281e-01,8.842474e-01,9.187027e-01,1.005117e+00,9.508310e-01,9.777230e-01,7.941189e-01,...,8.606987e-01,9.030942e-01,8.150649e-01,0.743369,1.008602,8.881626e-01,8.738739e-01,9.112411e-01,8.726914e-01,9.117427e-01
max,3.796924e+00,4.467150e+00,3.740607,5.154607e+00,3.708370e+00,4.379619e+00,4.478038e+00,4.082695e+00,3.443212e+00,4.156096e+00,...,4.258861e+00,4.503142e+00,4.929575e+00,4.994243,4.489842,4.591931e+00,4.866044e+00,3.611522e+00,4.220999e+00,3.564708e+00

In [21]:
clr_sep_metabolites.describe()

,sample_126,sample_127,sample_128,sample_129,sample_130,sample_131,sample_132,sample_133,sample_134,sample_135,...,sample_2510,sample_2511,sample_2512,sample_2513,sample_2514,sample_2515,sample_2516,sample_2517,sample_2518,sample_2519
count,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,...,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,7.000000e+02,700.000000,7.000000e+02,7.000000e+02
mean,1.218073e-15,4.872293e-16,2.436147e-16,1.542893e-15,-7.308440e-16,-7.308440e-16,-2.030122e-15,-1.867712e-15,-9.744586e-16,-1.705303e-15,...,4.872293e-16,-1.299278e-15,8.120488e-16,2.760966e-15,-8.120488e-16,1.299278e-15,-6.496391e-16,0.000000,-8.120488e-16,-4.872293e-16
std,2.615922e+00,2.651175e+00,2.580543e+00,2.599695e+00,2.587594e+00,2.657265e+00,2.617806e+00,2.580640e+00,2.651876e+00,2.542369e+00,...,1.687788e+00,1.715095e+00,1.618023e+00,1.670525e+00,1.673236e+00,1.651982e+00,1.595184e+00,1.715110,1.643206e+00,1.661472e+00
min,-4.761068e+00,-4.918995e+00,-4.656299e+00,-5.926285e+00,-4.871160e+00,-5.069810e+00,-4.664503e+00,-4.491859e+00,-4.716717e+00,-5.254316e+00,...,-5.214290e+00,-4.651637e+00,-4.856543e+00,-4.729155e+00,-4.746781e+00,-4.748103e+00,-5.101150e+00,-4.647589,-4.587350e+00,-4.620145e+00
25%,-2.346353e+00,-2.335521e+00,-2.313178e+00,-2.252667e+00,-2.187121e+00,-2.411158e+00,-2.356290e+00,-2.343687e+00,-2.291202e+00,-2.204157e+00,...,-9.859023e-01,-1.078090e+00,-1.017720e+00,-1.008965e+00,-1.095879e+00,-1.117032e+00,-9.826613e-01,-0.961786,-1.017570e+00,-1.038269e+00
50%,2.464453e-01,1.659372e-01,2.177539e-01,8.419999e-02,1.028434e-01,2.888379e-01,1.528521e-01,1.392333e-01,1.731802e-01,1.003639e-01,...,4.117060e-01,3.838580e-01,2.875171e-01,2.985007e-01,3.610326e-01,2.844309e-01,2.877512e-01,0.359452,3.070730e-01,3.744929e-01
75%,2.610301e+00,2.763354e+00,2.513976e+00,2.707777e+00,2.606607e+00,2.750135e+00,2.666341e+00,2.531691e+00,2.752368e+00,2.417202e+00,...,1.159262e+00,1.228021e+00,1.053827e+00,1.249840e+00,1.173071e+00,1.186180e+00,1.133344e+00,1.204937,1.163075e+00,1.160413e+00
max,7.029937e+00,5.464670e+00,6.145103e+00,6.168721e+00,6.017749e+00,6.492549e+00,5.962788e+00,5.939892e+00,5.748170e+00,7.386044e+00,...,4.967425e+00,4.961157e+00,4.816647e+00,5.239795e+00,5.026633e+00,4.903952e+00,6.033185e+00,4.691803,4.917436e+00,4.865880e+00

In [8]:
clr_sep_microbes.to_csv('./data/clr_sep_microbes.tsv', sep='\t', index=True)
clr_sep_metabolites.to_csv('./data/clr_sep_metabolites.tsv', sep='\t', index=True)
clr_sep_microbes_min.to_csv('./data/clr_sep_microbes_min.tsv', sep='\t', index=True)
clr_sep_metabolites_min.to_csv('./data/clr_sep_metabolites_min.tsv', sep='\t', index=True)

### Just trying out some clr for example data

In [109]:
x = pd.Series([2, 3, 1, 4, 0.00000001])
y = pd.Series([5000, 2000, 3000, 4000, 0.00000001])

In [110]:
y

0    5.000000e+03
1    2.000000e+03
2    3.000000e+03
3    4.000000e+03
4    1.000000e-08
dtype: float64

In [111]:
z = pd.DataFrame({'og': pd.concat([x, y], axis=0)})
z

             og
0  2.000000e+00
1  3.000000e+00
2  1.000000e+00
3  4.000000e+00
4  1.000000e-08
0  5.000000e+03
1  2.000000e+03
2  3.000000e+03
3  4.000000e+03
4  1.000000e-08

In [112]:
z['log(og)'] = np.log(z['og'])
z

             og    log(og)
0  2.000000e+00   0.693147
1  3.000000e+00   1.098612
2  1.000000e+00   0.000000
3  4.000000e+00   1.386294
4  1.000000e-08 -18.420681
0  5.000000e+03   8.517193
1  2.000000e+03   7.600902
2  3.000000e+03   8.006368
3  4.000000e+03   8.294050
4  1.000000e-08 -18.420681

In [113]:
print(z['og'].mean())
print(z['log(og)'].mean())

1401.0000000020002
-0.12447947988461934

In [114]:
z['clr(og)'] = np.log(z['og']) - np.log(z['og'].mean())
z

             og    log(og)    clr(og)
0  2.000000e+00   0.693147  -6.551794
1  3.000000e+00   1.098612  -6.146329
2  1.000000e+00   0.000000  -7.244942
3  4.000000e+00   1.386294  -5.858647
4  1.000000e-08 -18.420681 -25.665622
0  5.000000e+03   8.517193   1.272252
1  2.000000e+03   7.600902   0.355961
2  3.000000e+03   8.006368   0.761426
3  4.000000e+03   8.294050   1.049108
4  1.000000e-08 -18.420681 -25.665622

In [115]:
z['sc'] = pd.concat([x/x.mean(), y/y.mean()], axis=0)
z

             og    log(og)    clr(og)            sc
0  2.000000e+00   0.693147  -6.551794  1.000000e+00
1  3.000000e+00   1.098612  -6.146329  1.500000e+00
2  1.000000e+00   0.000000  -7.244942  5.000000e-01
3  4.000000e+00   1.386294  -5.858647  2.000000e+00
4  1.000000e-08 -18.420681 -25.665622  5.000000e-09
0  5.000000e+03   8.517193   1.272252  1.785714e+00
1  2.000000e+03   7.600902   0.355961  7.142857e-01
2  3.000000e+03   8.006368   0.761426  1.071429e+00
3  4.000000e+03   8.294050   1.049108  1.428571e+00
4  1.000000e-08 -18.420681 -25.665622  3.571429e-12

In [116]:
z['log(sc)'] = np.log(z['sc'])
z

             og    log(og)    clr(og)            sc       log(sc)
0  2.000000e+00   0.693147  -6.551794  1.000000e+00 -1.000000e-09
1  3.000000e+00   1.098612  -6.146329  1.500000e+00  4.054651e-01
2  1.000000e+00   0.000000  -7.244942  5.000000e-01 -6.931472e-01
3  4.000000e+00   1.386294  -5.858647  2.000000e+00  6.931472e-01
4  1.000000e-08 -18.420681 -25.665622  5.000000e-09 -1.911383e+01
0  5.000000e+03   8.517193   1.272252  1.785714e+00  5.798185e-01
1  2.000000e+03   7.600902   0.355961  7.142857e-01 -3.364722e-01
2  3.000000e+03   8.006368   0.761426  1.071429e+00  6.899287e-02
3  4.000000e+03   8.294050   1.049108  1.428571e+00  3.566749e-01
4  1.000000e-08 -18.420681 -25.665622  3.571429e-12 -2.635806e+01

In [117]:
print(z['sc'].mean())
print(z['log(sc)'].mean())

1.0
-4.439740418746597

In [118]:
z['clr(sc)'] = z['log(sc)'] - z['log(sc)'].mean()
z

             og    log(og)    clr(og)            sc       log(sc)    clr(sc)
0  2.000000e+00   0.693147  -6.551794  1.000000e+00 -1.000000e-09   4.439740
1  3.000000e+00   1.098612  -6.146329  1.500000e+00  4.054651e-01   4.845206
2  1.000000e+00   0.000000  -7.244942  5.000000e-01 -6.931472e-01   3.746593
3  4.000000e+00   1.386294  -5.858647  2.000000e+00  6.931472e-01   5.132888
4  1.000000e-08 -18.420681 -25.665622  5.000000e-09 -1.911383e+01 -14.674088
0  5.000000e+03   8.517193   1.272252  1.785714e+00  5.798185e-01   5.019559
1  2.000000e+03   7.600902   0.355961  7.142857e-01 -3.364722e-01   4.103268
2  3.000000e+03   8.006368   0.761426  1.071429e+00  6.899287e-02   4.508733
3  4.000000e+03   8.294050   1.049108  1.428571e+00  3.566749e-01   4.796415
4  1.000000e-08 -18.420681 -25.665622  3.571429e-12 -2.635806e+01 -21.918315