In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import sample
import random
random.seed(4131)

In [5]:
microbes = pd.read_csv('./data/microbes.tsv', sep='\t', index_col=0)
metabolites = pd.read_csv('./data/metabolites.tsv', sep='\t', index_col=0)
microbes.head()

,sample_378,sample_379,sample_380,sample_381,sample_382,sample_383,sample_384,sample_385,sample_386,sample_387,...,sample_2384,sample_2385,sample_2386,sample_2387,sample_2388,sample_2389,sample_2390,sample_2391,sample_2392,sample_2393
OTU_ID,,,,,,,,,,,,,,,,,,,,,
theta_p_0,543.0,30.0,157.0,91.0,60.0,145.0,153.0,90.0,38.0,1171.0,...,398.0,331.0,115.0,122.0,88.0,339.0,1754.0,98.0,155.0,160.0
theta_p_1,83.0,14.0,123.0,44.0,130.0,19.0,41.0,114.0,40.0,38.0,...,115.0,43.0,303.0,468.0,218.0,59.0,36.0,98.0,107.0,333.0
theta_p_2,289.0,27.0,217.0,6.0,4.0,8.0,232.0,47.0,9.0,15.0,...,12.0,126.0,22.0,20.0,202.0,29.0,128.0,26.0,46.0,262.0
theta_p_3,20.0,3.0,93.0,17.0,44.0,36.0,27.0,13.0,82.0,42.0,...,16.0,20.0,48.0,13.0,1092.0,64.0,114.0,148.0,268.0,62.0
theta_p_4,9.0,14.0,35.0,7.0,159.0,168.0,40.0,23.0,56.0,26.0,...,157.0,63.0,363.0,183.0,57.0,184.0,199.0,61.0,11.0,127.0

In [6]:
sample(list(microbes.columns), 10)

['sample_432',
 'sample_588',
 'sample_1505',
 'sample_521',
 'sample_2170',
 'sample_1432',
 'sample_1634',
 'sample_1284',
 'sample_2365',
 'sample_514']

In [18]:
subset20 = microbes[sample(list(microbes.columns), 20)]
subset100 = microbes[sample(list(microbes.columns), 100)]
subset500 = microbes[sample(list(microbes.columns), 500)]

In [19]:
subset20.head()

,sample_1034,sample_2085,sample_619,sample_133,sample_1063,sample_1980,sample_1039,sample_1464,sample_1470,sample_215,sample_1522,sample_1042,sample_660,sample_1527,sample_1576,sample_2003,sample_166,sample_694,sample_214,sample_2098
#OTU ID,,,,,,,,,,,,,,,,,,,,
theta_p_0,113.0,246.0,83.0,109.0,15.0,140.0,604.0,35.0,80.0,123.0,649.0,223.0,88.0,26.0,67.0,118.0,291.0,173.0,284.0,171.0
theta_p_1,37.0,65.0,301.0,66.0,30.0,141.0,134.0,76.0,44.0,58.0,171.0,55.0,63.0,55.0,40.0,30.0,78.0,38.0,25.0,146.0
theta_p_2,52.0,32.0,30.0,36.0,75.0,147.0,14.0,4.0,111.0,97.0,41.0,57.0,80.0,55.0,195.0,1156.0,12.0,25.0,14.0,67.0
theta_p_3,27.0,153.0,86.0,15.0,198.0,131.0,121.0,72.0,46.0,12.0,15.0,82.0,37.0,239.0,39.0,24.0,51.0,80.0,30.0,71.0
theta_p_4,62.0,72.0,86.0,20.0,26.0,98.0,28.0,30.0,66.0,13.0,54.0,69.0,34.0,98.0,396.0,181.0,23.0,43.0,51.0,116.0

In [7]:
for i in [20, 100, 500]:
    columns_subset = sample(list(microbes.columns), i)
    microbes_subset = microbes[columns_subset]
    metabolites_subset = metabolites[columns_subset]
    microbes_subset.to_csv(f'./data/microbes.subset{str(i)}.tsv', sep='\t', index=True)
    metabolites_subset.to_csv(f'./data/metabolites.subset{str(i)}.tsv', sep='\t', index=True)